<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="icon" href="/images/logo.svg" type="image/icon type">
    <title>Makers</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500&display=swap');

        html, body {
            font-family: 'Montserrat Alternates', sans-serif;
        }

        .ar-font {
            font-family: 'Tajawal', sans-serif;
        }

        pre {
            white-space: pre-line;
            white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
            white-space: -o-pre-wrap; /* Opera 7 */
            word-wrap: break-word; /* Internet Explorer 5.5+ */
        }

        .bg-white {
            background-color: #EAEAEA;
        }

        .bg-orange {
            background-color: #E26600;
        }

        .bg-dark {
            background-color: #202020;
        }

    </style>
</head>

<body class="relative bg-white">


<div class="z-20 lg:pt-22 pt-16" id="app" v-cloak :class="activePage == 'sections' ? 'h-screen' : ' '">
    <!--logo-->
    <div class="flex justify-center">
        <img class="h-20" src="/images/logo.svg" alt="">
    </div>

    <!--sections-->
    <div v-if="activePage == 'sections'"
         class="grid grid-cols-1 justify-items-center gap-6 lg:gap-10 justify-center mt-20 lg:mx-20 mx-4">
        <div @click="activePage = 'trainings'"
             class="ring-1 ring-orange-600 flex lg:w-5/12 w-full justify-center text-center items-center bg-dark text-white rounded-bl-2xl rounded-tr-2xl px-8 py-4 lg:text-xl text-lg cursor-pointer">
            Training programs
        </div>
        <a class="ring-1 ring-orange-600 flex lg:w-5/12 w-full justify-center text-center items-center bg-dark text-white rounded-bl-2xl rounded-tr-2xl px-8 py-4 lg:text-xl text-lg cursor-pointer"
           href="https://makersiq.org/">
            <div class="">
                Makers website
            </div>
        </a>
        <a class="montserrat ring-1 ring-orange-600 flex lg:w-5/12 w-full justify-center text-center items-center bg-dark text-white rounded-bl-2xl rounded-tr-2xl px-8 py-4 lg:text-xl text-lg cursor-pointer"
           href="https://goo.gl/maps/yx7uKyAfXMycdeTp6/">
            <div class="">
                Location on google maps
            </div>
        </a>
        <!--social media-->
        <div class="flex justify-center items-center space-x-5 mt-6">

            <a href="https://www.facebook.com/iotmakeriq">
                <img class="w-9" src="/images/facebook.svg" alt="">
            </a>
            <a href="https://www.instagram.com/makers.iq/">
                <img class="w-9" src="/images/instagram.svg" alt="">
            </a>
            <a href="https://www.youtube.com/channel/UCV_yCnlTKWNb1K_boz6g59A">
                <img class="w-9" src="/images/youtube.svg" alt="">
            </a>

        </div>

    </div>

    <!--trainings-->
    <div v-if="activePage == 'trainings'" class="lg:mx-20 mx-4 mt-10 ar-font">

        <div v-if="trainings.length > 1 "
             class="ar-font grid grid-cols-1 justify-items-center lg:gap-10 gap-6 my-10 cursor-pointer">
            <div class="lg:w-5/12 w-full">
                <div class="flex justify-end w-full">
                    <button class="bg-orange text-white rounded-bl-xl rounded-tr-xl px-10 py-3 align-middle text-sm"
                            @click="activePage = 'sections'">
                        رجوع
                    </button>
                </div>
            </div>

            <div v-for="training in trainings"
                 @click="getThisTraining(training.id)"
                 class="ar-font ring-1 ring-orange-600 flex lg:w-5/12 w-full justify-center text-center items-center bg-dark text-white rounded-bl-2xl rounded-tr-2xl px-8 py-4 lg:text-xl text-lg cursor-pointer">
                {{training.name}}
            </div>
        </div>

        <div v-if="trainings.length == 1"
             class="ar-font flex flex-wrap justify-center my-10">
            <div class="w-full lg:w-5/12">
                <div class="flex justify-end w-full">
                    <button class="bg-orange text-white rounded-bl-xl rounded-tr-xl px-10 py-3 align-middle text-sm"
                            @click="getTrainings()">
                        رجوع
                    </button>
                </div>
                <div dir="rtl" v-for="training in trainings"
                     class="bg-white w-full rounded-bl-xl rounded-tr-xl ring-1 ring-orange-600 lg:p-6 p-4 mt-3">
                    <h1 class="text-center text-3xl font-semibold">
                        {{training.name}}
                    </h1>
                    <pre class="text-gray-700 text-lg mt-6 ar-font">{{training.description}}</pre>

                    <div v-if="training.time" class="flex mt-6 text-lg">
                        <h1 class="text-orange-600 ml-2 font-semibold">
                            الوقت:
                        </h1>
                        <h1 class="text-gray-700">
                            {{training.time}}
                        </h1>
                    </div>
                    <div v-if="training.days" class="flex mt-2 text-lg">
                        <h1 class="text-orange-600 ml-2 font-semibold">
                            الايام:
                        </h1>
                        <h1 class="text-gray-700">
                            {{training.days}}
                        </h1>
                    </div>
                    <div v-if="training.lectures" class="flex mt-2 text-lg">
                        <h1 class="text-orange-600 ml-2 font-semibold">
                            عدد ايام التدريب:
                        </h1>
                        <h1 class="text-gray-700">
                            {{training.lectures}}
                        </h1>
                    </div>
                    <div v-if="training.date" class="flex mt-2 text-lg">
                        <h1 class="text-orange-600 ml-2 font-semibold">
                            التاريخ:
                        </h1>
                        <h1 class="text-gray-700">
                            {{ new Date(training.date).toDateString() }}
                        </h1>
                    </div>
                    <div v-if="training.paid" class="flex mt-2 text-lg">
                        <h1 class="text-orange-600 ml-2 font-semibold">
                            كلفة التدريب:
                        </h1>
                        <h1 class="text-gray-700">
                            {{training.paid}}
                        </h1>
                    </div>


                    <div class="flex flex-wrap justify-end text-lg mt-10">
                        <a :href="training.form_link" target="_blank"
                           class="hover:bg-white hover:border hover:border-gray-900 hover:text-gray-900 bg-dark text-white rounded-bl-xl rounded-tr-xl lg:px-6 w-full text-center py-3 align-middle text-sm font-bold text-lg">
                            سجل الان
                        </a>
                    </div>


                </div>
            </div>


        </div>

    </div>

</div>

<img class="absolute top-0 left-0 lg:w-3/12 w-4/12 z-0" src="/images/img.png" alt="">
<img class="absolute bottom-0 right-0 lg:w-3/12 w-4/12 pb-0 mb-0 z-10" src="/images/img_1.png" alt="">

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    let vue = new Vue({
        el: '#app',
        data: {
            trainings: [],
            activePage: 'sections',
        },
        methods: {
            getTrainings() {
                axios.get('https://dashboard.makersiq.org/api/current').then(response => {
                    this.trainings = response.data
                })
            },
            getThisTraining(id) {
                this.trainings = this.trainings.filter(training => training.id == id)
            },

        },
        mounted() {
            this.getTrainings()
        }
    })
</script>
</body>
</html>