<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400&family=Montserrat:wght@200;300;400&display=swap"
          rel="stylesheet">
    <title>IoT Maker Trainings</title>
    <style>
        body {
            font-family: 'Almarai', sans-serif;
        }

        .montserrat {
            font-family: 'Montserrat', sans-serif;
        }

        .almarai {
            font-family: 'Almarai', sans-serif;

        }

        .bg-pattern {
            background-image: url("images/bg.png");
            background-repeat: repeat-y;
        }

        pre {
            white-space: pre-line;
            white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
            white-space: -o-pre-wrap; /* Opera 7 */
            word-wrap: break-word; /* Internet Explorer 5.5+ */
        }

        .orange {
            background-color: #F39D16;
        }
    </style>
</head>

<body class="bg-pattern bg-contain bg-gray-100">

<div id="app" v-cloak>
    <!--logo-->
    <div class="flex justify-center mt-16">
        <svg class="h-20" viewBox="0 0 893 249" version="1.1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="IoT-Maker-website" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Group-31">
                    <ellipse id="Oval" fill="#2F7ABB" cx="498.5" cy="161" rx="37.5" ry="41"></ellipse>
                    <ellipse id="Oval" fill="#F39D16" cx="129" cy="161" rx="40" ry="41"></ellipse>
                    <text id="IoT-Maker" font-family="AvantGardeITCbyBT-Book, AvantGarde Bk BT" font-size="177.293446"
                          font-weight="normal" fill="#000000">
                        <tspan x="40.369505" y="207">IoT Maker</tspan>
                    </text>
                    <rect id="Rectangle" fill="#000000" x="20" y="0" width="12" height="106"></rect>
                    <rect id="Rectangle" fill="#000000"
                          transform="translate(840.000000, 201.000000) rotate(90.000000) translate(-840.000000, -201.000000) "
                          x="834" y="148" width="12" height="106"></rect>
                    <rect id="Rectangle" fill="#000000" x="0" y="0" width="12" height="106"></rect>
                </g>
            </g>
        </svg>
    </div>


    <!--sections-->
    <div v-if="activePage == 'sections'"
         class="grid grid-cols-1 justify-items-center gap-6 lg:gap-10 justify-center mt-20 lg:mx-20 mx-4">
        <div @click="activePage = 'trainings'"
             class="montserrat flex lg:w-5/12 w-full justify-center text-center items-center orange text-white font-bold rounded shadow shadow-orange-400/50 px-8 py-4 lg:text-xl text-lg cursor-pointer">
            Training programs
        </div>
        <a class="montserrat flex lg:w-5/12 w-full justify-center text-center items-center orange text-white font-bold rounded shadow shadow-orange-400/50 px-8 py-4 lg:text-xl text-lg cursor-pointer"
           href="https://iotmaker.org/">
            <div class="">
                Website
            </div>
        </a>
        <a class="montserrat flex lg:w-5/12 w-full justify-center text-center items-center orange text-white font-bold rounded shadow shadow-orange-400/50 px-8 py-4 lg:text-xl text-lg cursor-pointer"
           href="https://goo.gl/maps/yx7uKyAfXMycdeTp6/">
            <div class="">
                Location
            </div>
        </a>
        <!--social media-->
        <div class="flex justify-center items-center space-x-5 mt-6">

            <a href="https://www.facebook.com/iotmakeriq">
                <svg class="w-8" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
                    <g fill-rule="evenodd">
                        <path d="m32 64h-16a16.0007 16.0007 0 0 1 -16-16v-32a16.0007 16.0007 0 0 1 16-16h32a16 16 0 0 1 16 16v32a16 16 0 0 1 -16 16h-6a5 5 0 0 0 -10 0z"
                              fill="#3764b9"/>
                        <path d="m30 18h18a9.0006 9.0006 0 0 0 .92-17.954c-.306-.017-.609-.046-.92-.046h-32a16.0007 16.0007 0 0 0 -16 16v32a30.0007 30.0007 0 0 1 30-30"
                              fill="#507dd2"/>
                        <path d="m48 32a16 16 0 1 0 16 16v-32a16 16 0 0 1 -16 16" fill="#1e4ba0"/>
                        <path d="m52 18a2 2 0 0 1 -2 2h-6a2 2 0 0 0 -2 2v8h7.56a2 2 0 0 1 1.9612 2.392c-.3713 1.857-.8757 4.379-1.2 6a2 2 0 0 1 -1.9612 1.608h-6.36v24h-10v-24h-6a2 2 0 0 1 -2-2v-6a2 2 0 0 1 2-2h6v-8a12 12 0 0 1 12-12h6a2 2 0 0 1 2 2z"
                              fill="#fff"/>
                    </g>
                </svg>
            </a>
            <a href="https://www.instagram.com/iotmaker_official/">
                <svg class="w-8" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
                    <g fill-rule="evenodd">
                        <path d="m48 64h-32a16.0007 16.0007 0 0 1 -16-16v-32a16.0007 16.0007 0 0 1 16-16h32a16 16 0 0 1 16 16v32a16 16 0 0 1 -16 16"
                              fill="#ff3a55"/>
                        <path d="m30 18h18a9.0006 9.0006 0 0 0 .92-17.954c-.306-.017-.609-.046-.92-.046h-32a16.0007 16.0007 0 0 0 -16 16v32a30.0007 30.0007 0 0 1 30-30"
                              fill="#ff796c"/>
                        <path d="m48 32a16 16 0 1 0 16 16v-32a16 16 0 0 1 -16 16" fill="#e00047"/>
                    </g>
                    <circle cx="44.5" cy="19.5" fill="#fff" r="2.5"/>
                    <path d="m32 24a8 8 0 1 1 -8 8 8.0042 8.0042 0 0 1 8-8zm0-4a12 12 0 1 1 -12 12 12.0057 12.0057 0 0 1 12-12z"
                          fill="#fff" fill-rule="evenodd"/>
                    <path d="m52 22a10 10 0 0 0 -10-10h-20a10 10 0 0 0 -10 10v20a10 10 0 0 0 10 10h20a10 10 0 0 0 10-10zm4 0a14 14 0 0 0 -14-14h-20a14 14 0 0 0 -14 14v20a14 14 0 0 0 14 14h20a14 14 0 0 0 14-14z"
                          fill="#fff" fill-rule="evenodd"/>
                </svg>
            </a>
            <a href="https://www.youtube.com/channel/UCV_yCnlTKWNb1K_boz6g59A">
                <svg class="w-8" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
                    <g fill-rule="evenodd">
                        <path d="m48 64h-32a16.0007 16.0007 0 0 1 -16-16v-32a16.0007 16.0007 0 0 1 16-16h32a16 16 0 0 1 16 16v32a16 16 0 0 1 -16 16"
                              fill="#f00"/>
                        <path d="m30 18h18a9.0006 9.0006 0 0 0 .92-17.954c-.306-.017-.609-.046-.92-.046h-32a16.0007 16.0007 0 0 0 -16 16v32a30.0007 30.0007 0 0 1 30-30"
                              fill="#ff5a51"/>
                        <path d="m48 32a16 16 0 1 0 16 16v-32a16 16 0 0 1 -16 16" fill="#d5002c"/>
                        <path d="m25.048 17.876a1.9994 1.9994 0 0 0 -3.048 1.703v24.842a1.9994 1.9994 0 0 0 3.048 1.703c5.099-3.137 15.279-9.402 20.184-12.421a1.9992 1.9992 0 0 0 0-3.406c-4.905-3.019-15.085-9.284-20.184-12.421z"
                              fill="#fff"/>
                    </g>
                </svg>
            </a>

        </div>

    </div>

    <!--trainings-->
    <div v-if="activePage == 'trainings'" class="lg:mx-20 mx-4 mt-10 ">

        <div v-if="trainings.length > 1 "
             class="grid grid-cols-1 justify-items-center lg:gap-10 gap-6 my-10 cursor-pointer">
            <div class="lg:w-5/12 w-full">
                <div class="flex justify-end w-full">
                    <button class="bg-blue-500 shadow shadow-blue-400/50 text-white font-bold rounded px-8 pb-3 pt-2 align-middle"
                            @click="activePage = 'sections'">
                        رجوع
                    </button>
                </div>
            </div>

            <div v-for="training in trainings"
                 @click="getThisTraining(training.id)"
                 class="flex lg:w-5/12 w-full justify-center text-center items-center orange text-white font-bold rounded shadow shadow-orange-400/50 px-8 py-4 lg:text-xl text-lg">
                {{training.name}}
            </div>
        </div>

        <div v-if="trainings.length == 1"
             class="flex flex-wrap justify-center my-10">
            <div class="w-full lg:w-5/12">
                <div class="flex justify-end w-full">
                    <button class="bg-blue-500 shadow shadow-blue-400/50 text-white font-bold rounded px-8 pb-3 pt-2 align-middle"
                            @click="getTrainings()">
                        رجوع
                    </button>
                </div>
                <div dir="rtl" v-for="training in trainings"
                     class="bg-white w-full shadow shadow-blue-400/50 rounded border-2 border-blue-500 lg:p-6 p-4 mt-3">
                    <h1 class="text-center text-3xl font-semibold">
                        {{training.name}}
                    </h1>
                    <pre class="text-gray-700 text-lg mt-6 almarai">{{training.description}}</pre>

                    <div v-if="training.time" class="flex mt-6 text-lg">
                        <h1 class="text-blue-500 ml-2 font-semibold">
                            الوقت:
                        </h1>
                        <h1 class="text-gray-700">
                            {{training.time}}
                        </h1>
                    </div>
                    <div v-if="training.days" class="flex mt-2 text-lg">
                        <h1 class="text-blue-500 ml-2 font-semibold">
                            الايام:
                        </h1>
                        <h1 class="text-gray-700">
                            {{training.days}}
                        </h1>
                    </div>
                    <div v-if="training.lectures" class="flex mt-2 text-lg">
                        <h1 class="text-blue-500 ml-2 font-semibold">
                            عدد ايام التدريب:
                        </h1>
                        <h1 class="text-gray-700">
                            {{training.lectures}}
                        </h1>
                    </div>
                    <div v-if="training.date" class="flex mt-2 text-lg">
                        <h1 class="text-blue-500 ml-2 font-semibold">
                            التاريخ:
                        </h1>
                        <h1 class="text-gray-700">
                            {{ new Date(training.date).toDateString() }}
                        </h1>
                    </div>
                    <div v-if="training.paid" class="flex mt-2 text-lg">
                        <h1 class="text-blue-500 ml-2 font-semibold">
                            كلفة التدريب:
                        </h1>
                        <h1 class="text-gray-700">
                            {{training.paid}}
                        </h1>
                    </div>


                    <div class="flex flex-wrap justify-end text-lg">
                        <!--                <h1 class="text-blue-500 ml-2 font-semibold">-->
                        <!--                    رابط الاستمارة للتسجيل:-->
                        <!--                </h1>-->
                        <a :href="training.form_link" target="_blank"
                           class="text-white lg:w-auto w-full text-center lg:mt-0 mt-4 orange font-bold shadow shadow-orange-400/50 font-bold text-lg rounded px-6 py-3">
                            سجل الان
                        </a>
                    </div>


                </div>
            </div>


        </div>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    let vue = new Vue({
        el: '#app',
        data: {
            trainings: [],
            activePage: 'sections',
        },
        methods: {
            getTrainings() {
                axios.get('https://iotmaker.makershive.org/api/current').then(response => {
                    this.trainings = response.data
                })
            },
            getThisTraining(id) {
                this.trainings = this.trainings.filter(training => training.id == id)
            },

        },
        mounted() {
            this.getTrainings()
        }
    })
</script>
</body>
</html>